body {
    margin: 0;
    background-color:#000000	;
    color: white;
    font-family: 'Sora', sans-serif;
}

#l-header {
    padding: 25px;
    background-color: #080808
}
.header-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.header-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#nav_glowny {
    font-size: 35px;
    margin-left: 20px; /* Adjust margin as needed */
    text-align: center; 
    margin-top: -9px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}
#nav-logo
{
    text-decoration: none;
    transition: none;
    color: white;
}

#nav-menu {
    text-align: left; /* Align the entire menu to the left */
    margin-top: -35px;
    font-size: 20px;
}

.navbar-links {
    padding: 0;
    margin: 0;
}

#nav-item {
    color: white;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
    text-align: center;
}


a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

@keyframes underline {
    from {
        text-decoration-width: 0;
    }
    to {
        text-decoration-width: 100%;
    }
}

a:hover {
    color: red;
    text-underline-offset: 5px;
    text-decoration-color: white;
    transition: color 0.7s ease;
    
}

main
{
    width: 1200px;
    background-color: #020202;
    margin-left: auto;
    margin-right: auto; 
    
}
#pzdj
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-left: 10px;
    margin-right: auto;
    justify-items: center;
    align-items: center;
    margin-top: 2px;

}

#zdjmain
{
    width: 380px;
}
#pzdj img:hover{
    opacity: 1;
}
#pzdj img{
    opacity: 0.9;
}

.btn {
    position: absolute;
    display: inline-block;
    width: 166px;
    height: 45px;
    font-size: 12px;
    line-height: 45px; /* Moved text up by reducing line-height */
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    top: 20px;
    right: 5px;
}
  .btn svg {
    position: absolute;
    top: 0; left: 0;
  }
  .btn svg rect {
    fill: none;
    stroke: #fff;
    stroke-width: 1;
    stroke-dasharray: 422, 0;
    transition: all 1300ms ease-out;
  }
  .btn:hover svg rect {
    stroke-width: 5;
    stroke-dasharray: 10, 310;
    stroke-dashoffset: 33;
  }
  
  .btn:hover {
    color:#fff;
    font-size:18px;
    letter-spacing:1px;
    font-weight:bold;
    
  }

#atyt
{
    padding: 25px;
    text-align: center;
    font-size: 20px;
}
footer
{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}


/* Media queries dla mniejszych ekranów */
@media only screen and (max-width: 768px) {
    body {
        font-size: 16px; /* Przykładowa zmiana wielkości czcionki */
    }
    main {
        width: 90%; /* Przykładowe zmniejszenie szerokości głównego kontenera */
    }
    #nav_glowny {
        font-size: 25px; /* Przykładowe zmniejszenie wielkości menu nawigacyjnego */
    }
    /* Pozostałe zmiany odpowiednie dla mniejszych ekranów */
}

/* Media queries dla jeszcze mniejszych ekranów */
@media only screen and (max-width: 480px) {
    body {
        font-size: 14px; /* Dodatkowe zmniejszenie wielkości czcionki */
    }
    main {
        width: 95%; /* Dodatkowe zmniejszenie szerokości głównego kontenera */
    }
    #nav_glowny {
        font-size: 20px; /* Dodatkowe zmniejszenie wielkości menu nawigacyjnego */
    }
    /* Pozostałe zmiany odpowiednie dla jeszcze mniejszych ekranów */
}
@media only screen and (max-width: 768px) {
    #pzdj {
        grid-template-columns: 1fr; /* Zmiana układu na pojedyncze kolumny */
        grid-gap: 10px; /* Zmniejszenie odstępów między zdjęciami */
    }
}
.toggle-button {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        text-align: center;
        background-color: #080808;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-links ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    #nav-item {
        margin-bottom: 30px;
        margin-left: 20px;
        font-size: 25px;
    }

    .navbar-links.active {
        display: flex;
    }

    .btn {
        display: none;
    }
}